body{
    font-family: 'system-ui',  'Segoe UI',  'Open Sans', 'Helvetica Neue', 'sans-serif';
    background: black;
    margin: 0;
    color: white;
    line-height: 1.6;
}

nav{
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;

}

nav ul{
    padding: 0;
    margin: 0;
}

nav li{
    display: inline;
    float: left;
}

nav a{
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}

nav li:hover{
    background-color: gray;
}

nav a#openup{
    display: none;
}